.container {
 margin-top: 36px;
}
.title {
  margin-top: 16px;
}
.graphWrapper {
  margin-top: 36px;
  display: flex;
}

.textWrapper {
  min-width: 50%;
}

.textWrapper {
  padding-left: 16px;
  h3 {
    margin-bottom: 16px;
  }
  p {
 margin-bottom: 16px;
  }
}
